/**
 * @name Midnight Addon Default
 * @author Krazytrain
 * @description A well balanced, customizable midnight Discord theme with some addons.
 **/
/*==================================================
=             Main Theme Link  DONT DELETE         =
==================================================*/
@import url('https://krazytrain.github.io/Midnight/Midnight-Master/Master.css');
:root { 
     --theme-name: 'Midnight';

/*=================================================
=                                                 =
=                  Color Options                  =
=                                                 =
==================================================*/

    /* color of status indicators and window controls */
    --online-indicator: hsl(125, 60%, 60%); /* change to #23a55a for default green */
    --dnd-indicator: hsl(340, 60%, 60%); /* change to #f13f43 for default red */
    --idle-indicator: hsl(50, 60%, 60%); /* change to #f0b232 for default yellow */
    --streaming-indicator: hsl(260, 60%, 60%); /* change to #593695 for default purple */

    /* Message indicator colors */
    --indicator-unread-border: hsla(var(--plum-10-hsl)); /* Border of unread */
    --indicator-unread-background: hsla(var(--plum-10-hsl)/0.25); /* Background of unread */
    --indicator-unread-hover-background: hsla(var(--plum-10-hsl)/0.35); /* Hover background of unread */
    --indicator-unread-mention-border: hsl(var(--red-400-hsl)); /* Border of mention */
    --indicator-unread-mention-background: hsla(var(--red-400-hsl)/0.25); /* Background of mention */
    --indicator-unread-mention-hover-background: hsla(var(--red-400-hsl)/0.35); /* Hover background of mention */
    --indicator-selected-border: hsla(var(--blue-300-hsl)); /* Border of selected */
    --indicator-selected-background: hsla(var(--blue-300-hsl)/0.25); /* Background of selected */
    --indicator-selected-hover-background: hsla(var(--blue-300-hsl)/0.35); /* Hover background of selected */
    --indicator-connected-border: hsla(var(--green-300-hsl)); /* Border of connected voice channel */
    --indicator-connected-background: hsla(var(--green-300-hsl)/0.15); /* Background of connected voice channel */
    --indicator-connected-hover-background: hsla(var(--green-300-hsl)/0.25); /* Hover backgroundd of connected voice channel */
 }
