
/*=============================================
=                  Indicators                 =
=============================================*/
:root {
  --indicator-border-size: 4px;
  --indicator-border-style: solid;
  --indicator-rounding: 10px;

  --bg-overlay-selected: transparent;
  --indicator-hover: transparent;
  --indicator-hover: var(--background-modifier-hover); /* Hover color */
  --indicator-unread-border: hsla(var(--plum-10-hsl)); /* Border of unread */
  --indicator-unread-background: hsla(var(--plum-10-hsl)/0.25); /* Background of unread */
  --indicator-unread-hover-background: hsla(var(--plum-10-hsl)/0.35); /* Hover background of unread */
  --indicator-unread-mention-border: hsl(var(--red-400-hsl)); /* Border of mention */
  --indicator-unread-mention-background: hsla(var(--red-400-hsl)/0.25); /* Background of mention */
  --indicator-unread-mention-hover-background: hsla(var(--red-400-hsl)/0.35); /* Hover background of mention */
  --indicator-selected-border: hsla(var(--blue-300-hsl)); /* Border of selected */
  --indicator-selected-background: hsla(var(--blue-300-hsl)/0.25); /* Background of selected */
  --indicator-selected-hover-background: hsla(var(--blue-300-hsl)/0.35); /* Hover background of selected */
  --indicator-connected-border: hsla(var(--green-300-hsl)); /* Border of connected voice channel */
  --indicator-connected-background: hsla(var(--green-300-hsl)/0.15); /* Background of connected voice channel */
  --indicator-connected-hover-background: hsla(var(--green-300-hsl)/0.25); /* Hover backgroundd of connected voice channel */
}


.bf202d63ad53e289-interactive._972a0d22c8afa7f0-interactive:hover{
  background: none!important;
}

.c69b6db0641110f6-containerDefault,
.c69b6db0641110f6-containerDragBefore {
  margin: 0px 0;
  border-radius: var(--indicator-rounding);
  border-left: var(--indicator-border-size) var(--indicator-border-style) transparent;
}
.c69b6db0641110f6-containerDefault ._2ea32c412048f708-link:not(._2ea32c412048f708-basicChannelRowLink),
.c69b6db0641110f6-containerDragBefore ._2ea32c412048f708-link {
  background: transparent !important;
}
.c69b6db0641110f6-containerDefault._2ea32c412048f708-wrapper,
.c69b6db0641110f6-containerDragBefore._2ea32c412048f708-wrapper {
  padding-left: 8px;
}
.c69b6db0641110f6-containerDefault:hover,
.c69b6db0641110f6-containerDragBefore:hover {
  background-color: var(--indicator-hover);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected),
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected) {
  border-left-color: var(--indicator-selected-border);
  background-color: var(--indicator-selected-background) !important;
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected):hover,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected):hover {
  background-color: var(--indicator-selected-hover-background) !important;
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeSelected) ._2ea32c412048f708-link svg,
.c69b6db0641110f6-containerDragBefore:has(._2ea32c412048f708-modeSelected) ._2ea32c412048f708-link svg {
  color: var(--indicator-selected-border);
}
.c69b6db0641110f6-containerDefault:has(._2ea32c412048f708-modeUnreadImportant),

