:root {
  --rs-version: "2.0.9";
  --rs-small-spacing: 2px;
  --rs-medium-spacing: 2px;
  --rs-large-spacing: 2px;
  --rs-small-width: 2px;
  --rs-medium-width: 3px;
  --rs-large-width: 3px;
  --rs-avatar-shape: 50%;
  --rs-phone-visible: block;
}



/*Chat Status*/
.avatar_c19a55 {
    left: 13px !important;
}

.contents_c19a55 .avatar_c19a55 {
    border: 3px solid transparent;
}
.contents_c19a55 .vc-platform-indicator>svg {
    display: none!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#43a25a"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--online-indicator)!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#ca9654"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--idle-indicator)!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#d83a42"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--dnd-indicator)!important;
}
.contents_c19a55:has(.vc-platform-indicator>[fill="#83838b"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--offline-indicator)!important;
}

.contents_c19a55:has([aria-label="Verified App"]) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--online-indicator)!important;
}
.contents_c19a55:has(.botTag__82f07) .avatar_c19a55 {
    box-shadow: 0 0 0 2px var(--online-indicator)!important;
}
.avatarDecoration_c19a55{
    margin-top: 2px !important;
    margin-left: 0px!important;

}
