/*=============================================
=           Settings Popout Layout            =
=============================================*/

/*Settings Popout Layout*/
[class^=standardSidebarView_]
 {  position: static;
   overflow: hidden !important;
 opacity: 1 !important;}
._960e4207cea8323e-layer + ._960e4207cea8323e-layer
 { border-radius: 10px !important;
   box-shadow: 5px 5px 25px black !important;
   width: calc(100% - 100px);
   max-width: 1100px;
   height: 80vh !important;
   margin: auto !important;
   padding: 0 !important;
   opacity: 1 !important;
   transform: 1125 !important;
 }
._960e4207cea8323e-baseLayer[aria-hidden="true"]::after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #00000099;
  content: '';
  z-index: 100;
}
._960e4207cea8323e-layer[aria-hidden="false"] + ._960e4207cea8323e-layer[aria-hidden="false"] {
  display: none
}
#app-mount ._960e4207cea8323e-baseLayer /*keep view under settings*/
 { opacity: 1 !important;
   transform: scale(1) !important;
 }
._960e4207cea8323e-baseLayer[aria-hidden="true"] {
   pointer-events: none;
}
._960e4207cea8323e-layers>._960e4207cea8323e-layer._960e4207cea8323e-animating {
  will-change: unset !important;
}
.platform-win ._23e6b439306f125a-standardSidebarView {
    top: 0px;
}

